<!-- ALGORITHMS AND DEFINITIONS PANEL -->
<div class="panel-heading row no-padding-left orange">
    <h3 class="panel-title col-lg-11">Algorithm Definitions & Options</h3>
</div>

<div class="panel-body grey-background" id="algorithms-body">
    <!-- ALGORITHM SELECTION -->
    <div class=" form-group row">
        <label for="algorithms-selection" class="no-padding-left col-lg-3">Algorithms</label>
        <select id="algorithms-selection" class="ui dropdown selection col-lg-9">
            <option value="">Choose...</option>
            <option class="small-font" value="kmeans">K-Means</option>
            <option class="small-font" value="hcluster">Hierarchical Clustering</option>
            <option class="small-font" value="hcluster">Mean Shift</option>
            <option class="small-font" value="hcluster">Spectral Clustering</option>
        </select>
    </div>

    <!-- OPTIONS CONTAINER -->
    <div class="panel-group" id="algorithm-options"></div>
</div>