<!-- FIELDS SELECTION PANEL -->
<div class="panel-heading row no-padding-left dark-green">
    <h3 class="panel-title col-lg-11">Field Options</h3>
</div>

<div class="panel-body grey-background">
    <!-- CHOOSE FIELDS -->
    <div class="form-group row">
        <label for="multiple-fields-csv" class="no-padding-left col-lg-3">Use fields</label>
        <select id="multiple-fields-csv" multiple="" class="ui dropdown selection col-lg-9">
            <option value="">Choose...</option>
            {% for field in fields['all'] %}
            <option class="small-font" value="{{ field }}">{{ field }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- SAMPLING -->
    <div class="form-group">
        <label class="control-label" for="sample-fraction">Sample fraction [0.0, 1.0]</label>
        <input class="form-control input-sm" id="sample-fraction" type="number" value="1">
    </div>

    <!-- DECOMPOSITION -->
    <div class="form-group row">
        <label for="decomposition-selection" class="no-padding-left col-lg-3">Project using</label>
        <select id="decomposition-selection" class="ui dropdown selection col-lg-9">
            <option value="">Choose...</option>
            <option class="small-font" value="pca">PCA</option>
            <option class="small-font" value="svd">SVD</option>
            <option class="small-font" value="tsne">t-SNE</option>
            <option class="small-font" value="mds">MDS</option>
        </select>
    </div>

    <!-- DECOMPOSITION METRICS -->
    <div class="form-group row">
        <label for="decomposition-metric-selection" class="no-padding-left col-lg-3">with metric</label>
        <select id="decomposition-metric-selection" class="ui dropdown selection col-lg-9">
            <option value="">Choose...</option>
            <option class="small-font" value="cityblock">Cityblock</option>
            <option class="small-font" value="euclidean">Euclidean</option>
            <option class="small-font" value="cosine">Cosine</option>
        </select>
    </div>

    <!-- PROJECTION BUTTON -->
    <div class="row">
        <a href="#" class="btn btn-lg btn-block dark-green-background white" id="projection-results">
            <span class="glyphicon glyphicon-stats"></span> Project Data</a>
    </div><br>


    <!-- SCATTERPLOT MATRIX FIELDS -->
    <div class="form-group row">
        <label for="scatterplot-matrix-fields" class="no-padding-left col-lg-3">Scatterplot matrix fields</label>
        <select id="scatterplot-matrix-fields" multiple="" class="ui dropdown selection col-lg-9">
            <option value="">Choose...</option>
            {% for field in fields['scatter'] %}
            <option class="small-font" value="{{ field }}">{{ field }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- SCATTERPLOT MATRIX BUTTON -->
    <div class="row">
        <a href="#" class="btn btn-lg btn-block dark-green-background white" id="scatterplot-matrix-button">
            <span class="glyphicon glyphicon-th"></span> Get Scatterplot Matrix</a>
    </div>
</div>