
<!-- K NUMBER -->
<div class="form-group">
    <label class="control-label" for="kmeans-num">K Number</label>
    <input class="form-control input-sm" id="kmeans-num" type="number" value="1">
</div>

<!-- LINKAGE METHODS -->
<div class="form-group row">
    <label for="linkage-selection" class="no-padding-left col-lg-3">Linkage Methods</label>
    <select id="linkage-selection" class="ui dropdown selection col-lg-9">
        <option value="">Choose...</option>
        <option value="complete">Complete</option>
        <option value="average">Average</option>
        <option value="ward">Ward</option>
    </select>
</div>

<!-- AFFINITY METHODS -->
<div class="form-group row" id="affinity-container">
    <label for="affinity-selection" class="no-padding-left col-lg-3">Affinity</label>
    <select id="affinity-selection" class="ui dropdown selection col-lg-9">
        <option value="">Choose...</option>
        <option value="euclidean">Euclidean</option>
        <option value="manhattan">Manhattan</option>
        <option value="cosine">Cosine</option>
    </select>
</div>
<script>
    $('#linkage-selection').dropdown();
    $('#affinity-selection').dropdown();
</script>