
<div class="panel panel-default">
<div class="panel-heading">
    <h5 class="panel-title space-title">
        <a data-toggle="collapse" data-parent="#algorithm-accordion" href="#collapse-kmeans-options">K-Means</a>
    </h5>
</div>
<div id="collapse-kmeans-options" class="panel-collapse collapse">
    <div class="panel-body" id="kmeans-options-container">

        <!-- K NUMBER -->
        <div class="form-group">
            <label class="control-label" for="kmeans-num">K Number</label>
            <input class="form-control input-sm" id="kmeans-num" type="number" value="1">
        </div>
    </div>
    </div>
</div>