.dark-green {
    color: #16a085;
}

.dark-green-background {
    background: #16a085;
}

.light-green {
    color: #27ae60;
}

.light-green-background {
    background: #27ae60;
}

.light-blue {
    color: #2980b9;
}

.light-blue-background {
    background: #2980b9;
}

.purple {
    color: #8e44ad;
}

.purple-background {
    background: #8e44ad;
}

.dark-blue {
    color: #2c3e50;
}

.dark-blue-background {
    background: #2c3e50;
}

.orange {
    color: #f39c12;
}

.orange-background {
    background: #f39c12;
}

.dark-orange {
    color: #d35400;
}

.dark-orange-background {
    background: #d35400;
}

.dark-red {
    color: #c0392b;
}

.dark-red-background {
    background: #c0392b;
}

.white {
    color: #ffffff;
}

.white-background {
    background: #ffffff;
}

.border-white-round {
    border-radius: 8px;
    border: 1px solid white;
}

.grey {
    background: #ecf0f1;
}

.grey-background {
    background: #ecf0f1;
}

.choose-grey {
    color: #7f8c8d;
}