/************************
 HTML overwrites
 ************************/
body {
    background-color: #ecf0f1; /*FlatUI 'Clouds'*/
}

nav {
    height: 80px;
}



/************************
 Bootstrap overwrites
 ************************/
.navbar {
    background-color: #2c3e50; /*FlatUI 'Midnight Blue'*/
    margin-bottom: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.modal-dialog {
    height: 80%;
    width: 80%;
    overflow-x: scroll;
    overflow-y: scroll;
}



/************************
 Clusterix elements
 ************************/

/* Navbar elements */
/*******************/
.clusterix-logo {
    width: 210px;
    height: 100%;
}

.inspirehep-logo {
    width: 80px;
    height: 100%;
    background-color: #34495e;
}


/* Process space */
/*****************/


/* Diagram space */
/*****************/
.diagram-container {
    background-color: white; !important;
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: hidden;
}

.mini-treemap:hover {
    fill-opacity: .7;
}

.d3-tip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 14px sans-serif;
    background: lightsteelblue;
    pointer-events: none;
}



/************************
 Misc elements/changes
 ************************/
.no-padding-left {
    padding-left: 0;
}

.no-display {
    display: none;
}

.white {
    color: #ffffff;
}

.blue-background {
    background-color: #2196f3;
}

.upper-corner {
    position: fixed;
    top: 10em;
    right: 10em;
}

.space-title {
    margin-bottom: 5px;
    font-weight: 300;
}